<#@ output extension=".xml" #>
<#@ include file="..\..\Poliglot.Transformer.tt" #><#
Transform(
	@"..\sandbox\Localizable.strings", // current directory here is a solution directory
	GenerationType.DroidResources);
#>